* {
    margin: 0;
    padding: 0;
}

body{
    width: 960px;
    align-content: center; 
    font-family: Arial, sans-serif;
    color: #fcfcfc;
    background: #355664;
}

h1, h2, h3 {
    font-family: forte, Arial, sans-serif;
}

h1 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
    text-transform: uppercase;
}

h3 {
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}

p {
    line-height: 20px;
    padding-bottom: 5px;
    color: #94c258;
}

img {
    width: 500px;
    height: 300px;
    border: none;
}

div.article-content {
    margin: 15px 0;
}

nav {
    background: #355664;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

li {
    display: inline-block;
}

/* Text Color: #ffffff;
   Text Color: #7CB3E9;
   Text Color: #8EC45B; */
a {
    color: #ffffff;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    font-size: 30px;
    text-transform: uppercase;
}

li:first-child a {
    color: #7CB3E9;
    text-transform: lowercase;
}

a[title="sweet tabs"] {
    color: #8EC45B;
    text-transform: capitalize;
}

article {
    height: 390px;
    background: #213E4A;
    padding: 20px;
    margin: 0 0 10px;
}

figure {
    border: 3px solid #142830;
    float: right;
    height: 300px;
    width: 500px;
    margin-left: 15px;
}

footer {
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}

/* 
Use:
路   	text-transform: uppercase;
路   	text-transform: none;
路   	text-transform: lowercase;
路   	border-radius: 10px;

 */